/********************************
* インナー
********************************/
$l-inner: 1200px;

// 余白
$padding-pc: 3.3333%;
$padding-sp: 6%;

/********************************
* フォント
********************************/
$base-font-family: "Noto Sans JP", sans-serif;
$en-font-family: "Quicksand", sans-serif;

// フォントサイズ
$base-font-size: 16;

/********************************
* カラー
********************************/
$main-color: #0057AD;
$sub-color: #0068B7;
$text: #1D2124;
$gray: #D6D6D6;
$gray02: #84898D;
$base-background: #fff;
$sub-background: rgba(0, 104, 183, 0.05);
$black: #1D2124;



$blue: #0057AD;
$blue02: #0068B7;

$base-color: #666;
$black02: #333;
$white: #fff;
$white02: #fff;

$blue03: blue;
$pink: #cd8e9c;
$light-pink: #e9cbca;
$gold: #be9d61;

/********************************
* レイヤー
********************************/
$layer-modal: 100;
$layer-drawer: 40;
$layer-floating: 30;
$layer-header: 35;
$layer-footer: 10;
$layer-up: 2;
$layer-default: 1;
$layer-background: -1;