@use "global" as *;

body {
    color: $text;
    font-family: $base-font-family;
    font-size: rem(16);
    font-weight: 400;
    line-height: calc(36 / 16);
    background: $base-background;

    @include mq(md) {
        font-size: rem(16);
    }
}

.body-no-scroll {
    overflow: hidden;
    height: 100%;
    width: 100%;
}