@use "global" as *;

.btn {
  border-radius: 50px;
  padding: rem(13) rem(69);
  font-family: $en-font-family;
  font-size: rem(24);
  font-weight: 500;
  letter-spacing: 0.96px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  display: inline-block;
  position: relative;
  transition: all 0.2s ease-out 0.1s;

  &::after {
    content: "";
    position: absolute;
    background: url(../images/common/arrow-white.svg) no-repeat center center/contain;
    width: rem(66);
    height: rem(10);
    top: 50%;
    transform: translateY(-50%);
    right: rem(-33);
    -webkit-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    /* SafariなどのWebkitブラウザ用 */
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  }
}

.btn--blue {
  background: linear-gradient(150deg, #0057AD 50%, #004080 50%);
  color: $white;
}


@media (hover: hover) {

  .btn:hover {
    box-shadow: 6px 6px 11px rgba(0, 0, 0, 0.4);
    transform: translateY(-2px);
  }
}


.btn--black {
  background: $black;
  color: $white;
}

/* btn02 */
.btn02 {
  font-size: rem(18);
  letter-spacing: 0.36px;
  color: $white;
  background: $blue;
  line-height: 1.2;
  padding: rem(27) rem(54);
  display: inline-block;

  @include mq(md) {}
}

.btn02--support {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(320);
  height: rem(80);
  max-width: 100%;

  @include mq(md) {
    width: rem(280);
  }
}


// .btn--bgleft {
//   overflow: hidden;
// }

// //グラデーションが流れるhoverアクション
// .btn--bgleft span {
//   position: relative;
//   z-index: 3;
//   /*z-indexの数値をあげて文字を背景よりも手前に表示*/
//   color: $white;
// }

// /*== 背景が流れる（左から右） */
// .btn--bgleft:before {
//   content: '';
//   /*絶対配置で位置を指定*/
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: 2;
//   display: inline-block;
//   /*色や形状*/
//   background: linear-gradient(150deg, #004080 50%, #0057AD 50%);
//   /*背景色*/
//   border-radius: 50px;
//   width: 100%;
//   height: 100%;
//   /*アニメーション*/
//   transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
//   transform: scale(0, 1);
//   transform-origin: right top;
//   overflow: hidden;
// }

// @media (hover: hover) {

//   /*hoverした際の形状*/
//   .btn--bgleft:hover:before {
//     transform-origin: left top;
//     transform: scale(1, 1);
//     overflow: hidden;
//   }
// }