@use "global" as *;
.c-accordion {
  border: rem(2) solid $base-color;
}
.c-accordion summary::-webkit-details-marker {
  display: none;
}
.c-accordion__title {
  padding: rem(20) rem(40);
  font-size: rem(18);
  background: $base-color;
  color: $white;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.c-accordion__icon i {
  transition: transform 0.3s;
  right: 0;
  position: relative;
  font-size: rem(16);
}
.c-accordion.is-open .c-accordion__icon i {
  transform: rotate(-180deg);
}
.c-accordion__content {
  font-size: rem(18);
  background: $white;
  color: $base-color;
  text-decoration: none;
  overflow: hidden;
}
.c-accordion__content-inner {
  padding: rem(20) rem(40);
}

/* .c-accordion--type1 */
.c-accordion--type1 .c-accordion__title {
  background: $white;
  color: $base-color;
  transition: border 0.3s;
}
.c-accordion--type1 .c-accordion__icon i {
  font-size: rem(20);
}

/* .c-accordion--type2 */
.c-accordion--type2 .c-accordion__title {
  position: relative;
}
.c-accordion--type2 .c-accordion__icon::before,
.c-accordion--type2 .c-accordion__icon::after {
  content: "";
  position: absolute;
  top: 50%;
  right: rem(30);
  width: rem(15);
  height: rem(2);
  background: $white;
  transform: translate(-50%, -50%);
  transition: 0.3s all;
}
.c-accordion--type2 .c-accordion__icon::after {
  transform: translate(-50%, -50%) rotate(-90deg);
}
.c-accordion--type2.is-open .c-accordion__icon::after {
  transform: translate(-50%, -50%) rotate(0deg);
}
