@use "global" as *;

.btn {
  border-radius: 50px;
  padding: rem(13) rem(69);
  font-family: $en-font-family;
  font-size: rem(24);
  font-weight: 500;
  letter-spacing: 0.96px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  // overflow: hidden;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    background: url(../images/common/arrow-white.svg) no-repeat center center/contain;
    width: rem(66);
    height: rem(10);
    top: 50%;
    transform: translateY(-50%);
    right: rem(-33);
    -webkit-filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
    /* SafariなどのWebkitブラウザ用 */
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  }
}

.btn--blue {
  background: linear-gradient(150deg, #0057AD 50%, #004080 50%);
  color: $white;
}

.btn--black {
  background: $black;
  color: $white;
}