@use "global" as *;

.c-card {
}

.c-card__body {
  padding: rem(15);
}
.c-card__time {
  font-size: rem(14);
}
.c-card__title {
  font-weight: bold;
  font-size: rem(20);
  margin-top: rem(10);
}
.c-card__text {
  margin-top: rem(10);
}

.c-card--shadow {
  box-shadow: 0 0 rem(5) 0 rgba($color: #000000, $alpha: 0.3);
}

.c-card--horizon {
  display: grid;
  grid-template-columns: 20% 80%;
}
.c-card--horizon .c-card__body {
  padding: rem(10) rem(15);
}
