@use "global" as *;

.c-drawer__button {
  display: flex;
  height: rem(50);
  width: rem(50);
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 rem(32) transparent;
  position: relative;
  z-index: 200;
  background: $sub-color;
}

.c-drawer__button:hover,
.c-drawer__button:focus {
  box-shadow: 0 0 rem(8) rgba(0, 0, 0, 0.5);
  background: $base-color;
}
.c-drawer__line {
  font-size: 0;
}
.c-drawer__line,
.c-drawer__line::before,
.c-drawer__line::after {
  content: "";
  display: block;
  height: rem(3);
  width: rem(25);
  border-radius: rem(3);
  background-color: $white;
  position: absolute;
  transition: all 0.2s ease-in-out;
}

.c-drawer__line::before {
  bottom: rem(8);
}
.c-drawer__line::after {
  top: rem(8);
}
.c-drawer__button[aria-expanded="true"] {
  background: $base-color;
}
.c-drawer__button[aria-expanded="true"] .c-drawer__line {
  background-color: transparent;
}
.c-drawer__button[aria-expanded="true"] .c-drawer__line::before {
  bottom: 0;
  transform: rotate(45deg);
}
.c-drawer__button[aria-expanded="true"] .c-drawer__line::after {
  top: 0;
  transform: rotate(-45deg);
}

.c-drawer__modal {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba($color: $white, $alpha: 0.95);
  display: block;
}
.c-drawer__modal.is-open {
  visibility: visible;
  opacity: 1;
  z-index: 100;
}
.c-drawer__lists {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.c-drawer__link {
  font-size: rem(20);
  font-weight: bold;
  display: block;
  color: $base-color;
  padding-block: rem(20);
  text-align: center;
}

/* c-drawer--open-right */
.c-drawer--open-right .c-drawer__modal {
  transform: translateX(100%);
}
.c-drawer--open-right .c-drawer__modal.is-open {
  transform: translateX(0);
}

/* c-drawer--open-left */
.c-drawer--open-left .c-drawer__modal {
  transform: translateX(-100%);
}
.c-drawer--open-left .c-drawer__modal.is-open {
  transform: translateX(0);
}

/* c-drawer--open-top */
.c-drawer--open-top .c-drawer__modal {
  transform: translateY(-100%);
}
.c-drawer--open-top .c-drawer__modal.is-open {
  transform: translateY(0);
}
