@use "global" as *;

.c-lower-head {
  position: relative;
  height: rem(460);
  @include mq() {
    height: rem(230);
  }
}
.c-lower-head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: rem(150);
  width: 100%;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0), rgba(90, 90, 90, 1));
}
.c-lower-head__bg img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.c-lower-head__inner {
  max-width: rem(780);
  width: 100%;
  margin-inline: auto;
  padding-inline: $padding-pc;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: flex-end;
}

.c-lower-head__title {
  font-size: rem(33);
  display: flex;
  justify-content: flex-start;
  writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  background: $base-color;
  color: $white;
  padding-block: rem(5);
  padding-top: rem(20);
  letter-spacing: rem(5);
  height: rem(310);
  @include mq() {
    padding-top: rem(10);
    font-size: rem(22);
    height: rem(210);
    position: relative;
    top: rem(-40);
    right: rem(20);
  }
}
