@use "global" as *;

.c-text {
  font-size: rem(17);
  line-height: calc(42 / 17);
  letter-spacing: rem(-1);
  text-align: justify;
  @include mq() {
    font-size: rem(16);
  }
}

.c-text__name {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
}
