@use "global" as *;

.js-text-effect {
    overflow: hidden;
    line-height: 1;

}

.js-text-effect span {
    display: inline-block; //必須
    opacity: 0;
    visibility: hidden;
    // transform: translateY(100%); //下から出現
    transform: rotateY(90deg); //回転
}