@use "global" as *;

html {

  //~375px
  @media (max-width: 375px) {
    font-size: vw(375, $base-font-size);
  }

  @if $rule =="max" {

    // PCファースト
    //375px~767px
    @include mq("md") {
      font-size: #{$base-font-size}px;
    }

    // 768px〜inner
    @include mq("inner") {
      font-size: vw(strip-unit($inner), $base-font-size);
    }
  }

  @else {

    // SPファースト
    // 768px~inner
    @include mq() {
      font-size: vw(strip-unit($inner), $base-font-size);
    }

    // inner以上
    @include mq("inner") {
      font-size: #{$base-font-size}px;
    }
  }

  //ベースフォントサイズ
  font-size: #{$base-font-size}px;
}


/* link */
/* ============================================ */
a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.3s;
  cursor: pointer;

  // &:hover {
  //   opacity: 0.7;
  // }

  @include mq("md") {
    opacity: unset;
  }
}

/* img */
/* ============================================ */
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}