@use "global" as *;

.below-mv {
    // position: relative;
    // color: $white;
    // height: rem(500);
    // overflow: hidden;
    // width: 100%;
    color: #fff;
    height: 67svh;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.below-mv__img-wrap {
    position: relative;
    height: inherit;

    &::before {
        // content: "";
        // display: block;
        // position: fixed;
        // top: 0;
        // left: 0;
        // z-index: -1;
        // background-size: cover;
        // background-position: top center;
        // position: fixed;
        // width: 100%;
        // height: 100vh;
        background-position: center center;
        background-repeat: no-repeat;
        content: "";
        display: block;
        height: 100svh;
        position: fixed;
        // top: 0;
        // left: 0;
        width: 100%;
        z-index: -1;
        background-repeat: no-repeat;
        background-size: cover;


        @media screen and (max-width: 1449px) {
            background-size: cover;
        }

        @include mq(md) {
            height: 100svh;
        }
    }
}

.below-mv__img-wrap--product::before {
    background-image: url(../images/below/product-mv.jpg);
}

.below-mv__img-wrap--service::before {
    background-image: url(../images/below/service-mv.jpg);
}


.below-mv__img-wrap--about::before {
    background-image: url(../images/below/about-mv.jpg);
}

.below-mv__img-wrap--information::before {
    background-image: url(../images/below/info-mv.jpg);
}

// .below-mv__img {
//     display: block;
//     width: 100%;
//     height: 100%;
//     object-fit: cover;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     z-index: -1;
//     transform: translate(-50%, -50%);
// }

// .below-mv__img img {
//     display: block;
//     margin-left: auto;
//     object-fit: cover;

//     @include mq(md) {
//         aspect-ratio: 3/2;
//     }
// }

.below-mv__title-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

.below-mv__heading-ja {
    font-size: rem(18);
    letter-spacing: 0.36px;

    @include mq(md) {
        font-size: rem(16);
    }

}

.below-mv__heading-en {
    font-size: rem(60);
    line-height: 1.2;

    @include mq(md) {
        font-size: rem(48);
        white-space: nowrap;
        line-height: 1;
    }
}