@use "global" as *;

.below-mv {
    position: relative;
    color: $white;
    margin-top: rem(40);
    height: rem(500);

    @include mq(md) {
        margin-top: rem(10);
        height: auto;
    }
}

.below-mv__img {
    display: block;
    width: 100%;
    margin-inline: auto;
    height: rem(500);

    @include mq(md) {
        height: auto;
    }
}

.below-mv__img img {
    display: block;
    margin-left: auto;
    object-fit: cover;
    height: rem(500);

    @include mq(md) {
        height: auto;
        aspect-ratio: 3/2;
    }
}

.below-mv__title-heading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
}

.below-mv__heading-ja {
    font-size: rem(18);
    letter-spacing: 0.36px;

    @include mq(md) {
        font-size: rem(16);
    }

}

.below-mv__heading-en {
    font-size: rem(60);
    line-height: 1.2;

    @include mq(md) {
        font-size: rem(48);
        white-space: nowrap;
        line-height: 1;
    }
}