@use "global" as *;

.mv {
    position: relative;

    @include mq(md) {
        padding-inline: rem(20);
    }
}

.mv__img {
    display: block;
    padding-top: rem(70);

    @include mq(md) {
        margin-left: auto;
        max-width: 90%;
        padding-top: rem(300);
    }
}

.mv__img img {
    display: block;
}

.mv__title {
    position: absolute;
    font-size: rem(26);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 1.3px;
    top: 30%;
    left: calc(50% - min(50vw, #{rem(585)}));
    transform: translateY(-50%);

    @media (max-width: 1200px) {
        transform: translate(0);
        left: rem(30);
    }

    @include mq(md) {
        top: rem(80);
        font-size: rem(22);
        line-height: 1.8;
        left: rem(20);
    }
}

.mv__title span {
    color: $sub-color;
    font-family: "Noto Sans";
    font-size: rem(38);
    font-weight: 700;
    letter-spacing: 1.9px;

    @include mq(md) {
        font-size: rem(26);
    }
}