@use "global" as *;

.p-footer {
  background: $sub-color;
  padding-top: rem(50);
  padding-bottom: rem(20);
}
.p-footer__inner {
  display: grid;
  justify-content: center;
}
.p-footer__address {
  text-align: center;
  line-height: 1.6;
}
.p-footer__copy {
  margin-top: rem(30);
  text-align: center;
}
