@use "global" as *;

.single-info {
    padding-block: 0 rem(103);

    @include mq(md) {
        padding-block: 0 rem(80);
    }
}

.single-info__body {
    padding-top: rem(90);

    @include mq(md) {
        padding-top: rem(80);
    }
}

.single-info__label {
    font-size: rem(14);
    letter-spacing: 0.28px;
    background: $main-color;
    color: $white;
    display: inline-block;
    padding: rem(6) rem(14);
    line-height: 1;
}

.single-info__title {
    margin-top: rem(25);
    font-size: rem(22);
    font-weight: 600;
    letter-spacing: 0.44px;

    @include mq(md) {
        font-size: rem(18);
        margin-top: rem(10);
    }
}

.single-info__date {
    margin-top: rem(20);
    display: inline-block;
    padding: rem(20) rem(50) rem(20) rem(30);
    background: $main-color;
    color: $white;
    letter-spacing: 0.28px;
    font-size: rem(14);

    @include mq(md) {
        padding: rem(5) rem(10);
        margin-top: rem(10);
    }
}

.single-info__img {
    margin-top: rem(50);
    display: block;

    @include mq(md) {
        margin-top: rem(30);
    }
}

.single-info__img img {
    object-fit: contain;
}

.single-info__content {
    margin-top: rem(87);

    @include mq(md) {
        margin-top: rem(40);
    }
}

.single-info__btns {
    margin-top: rem(87);
    display: flex;
    justify-content: center;
    gap: rem(64) rem(30);

    @include mq(md) {
        margin-top: rem(40);
    }
}

.single-info__btns a {
    display: block;
    height: rem(50);
    width: rem(150);
    max-width: 100%;
    background: $main-color;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.28px;
    font-size: rem(14);
}
