@use "global" as *;

.top-product {
    background: $main-color;
    color: $white;
    font-size: rem(18);

}

.top-product__items {
    margin-top: rem(57);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(63) rem(138);

    @include mq(inner) {
        gap: rem(63) rem(63);
    }

    @include mq(md) {
        grid-template-columns: repeat(1, 1fr);
        max-width: 500px;
        margin-inline: auto;
    }
}


.top-product__img img {
    aspect-ratio: 500 /287;
    object-fit: cover;
    height: auto;
}

.top-product__body {
    padding-top: rem(40);

    @include mq(md) {
        padding-top: rem(20);
    }
}

.top-product__head {
    font-size: rem(22);
    font-weight: 600;
    line-height: 2.6;
    padding-bottom: rem(20);
    border-bottom: 1px solid $white;

    @include mq(md) {
        padding-bottom: rem(10);
    }
}

.top-product__txt {
    margin-top: rem(25);
    line-height: calc(36 / 18);

    @include mq(md) {
        margin-top: rem(20);
    }
}

.top-product__btn {
    margin-top: rem(44);
    text-align: center;
}
