@use "global" as *;

.top-service {
    background: $sub-background;
    font-size: rem(18);

}

.top-service__lists {
    margin-top: rem(70);

    @include mq(md) {
        margin-top: rem(40);
    }
}

.top-service-list {
    counter-reset: number;
}

.top-service-list__item {
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq(md) {
        flex-direction: column-reverse;
    }
}

.top-service-list__item+.top-service-list__item {
    // margin-top: rem(100);

    @include mq(md) {
        margin-top: rem(60);
    }
}

.top-service-list__item:nth-of-type(even) {
    flex-direction: row-reverse;

    @include mq(md) {
        flex-direction: column-reverse;
    }
}

.top-service-list__item-img {
    max-width: rem(347);
    width: 100%;

    @include mq(md) {
        max-width: rem(400);
        margin-top: rem(40);
    }
}

.top-service-list__item:nth-of-type(even) .top-service-list__item-img {
    margin-left: rem(54);

    @include mq(md) {
        margin-left: 0;
    }
}

.top-service-list__item-img img {
    width: 100%;
    aspect-ratio: 347 / 426;
    object-fit: cover;
}

.top-service-list__item-text-wrap {
    margin-top: 0;
    margin-left: rem(64);
    max-width: rem(741);
    width: 100%;

    @include mq(md) {
        margin-top: rem(40);
        margin-left: 0;
    }
}

.top-service-list__item:nth-of-type(even) .top-service-list__item-text-wrap {
    margin-left: 0;

    @include mq(md) {
        margin-left: rem(0);
    }
}

.top-service-list__item-title-wrap {
    display: flex;
    align-items: center;
    gap: rem(20);
    line-height: 1;
}

.top-service-list__item:nth-of-type(even) .top-service-list__item-title-wrap {
    flex-direction: row-reverse;
    text-align: right;

    @include mq(md) {
        flex-direction: row;
        text-align: left;
    }
}


.top-service-list__item-title-number::before {
    counter-increment: number;
    content: "0" counter(number);
    font-size: rem(100);
    font-weight: 500;
    line-height: 1;
    display: block;
    font-family: $en-font-family;

    @include mq(md) {
        font-size: rem(64);
    }
}

.top-service-list__item-title-en {
    color: $gray02;
    font-family: $en-font-family;
    font-size: rem(20);
    font-weight: 500;
    letter-spacing: 0.4px;
    display: block;
}

.top-service-list__item-title-h3 {
    font-size: rem(24);
    font-weight: 600;
    letter-spacing: 0.96px;
    line-height: 1.5;

    @include mq(md) {
        font-size: rem(22);
    }
}

.top-service-list__item-title-ja {
    font-size: rem(18);
    font-weight: 600;
    display: block;
}

.top-service-list__item-text {
    margin-top: rem(28);
    font-size: rem(18);
    line-height: 1.6;

    @include mq(md) {
        margin-top: rem(20);
        line-height: 2;
    }
}

.top-service__btn {
    margin-top: rem(71);
    text-align: center;

    @include mq(md) {
        margin-top: rem(40);
    }
}