@use "global" as *;


.top-about {
    padding-block: rem(278) rem(100);
    font-size: rem(18);

    @include mq(md) {
        padding-block: rem(80);
    }
}

.section {}

.top-about__inner {
    position: relative;
}

.inner {}

.top-about__title-wrapper {}

.top-about__title {}


.top-about__body {
    margin-top: rem(115);
    display: flex;
    justify-content: space-between;

    @include mq(md) {
        margin-top: rem(40);
        flex-direction: column;

    }
}

.top-about__lead {
    font-size: rem(60);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 2.4px;
    white-space: nowrap;

    @include mq(md) {
        font-size: rem(40);
    }
}

.top-about__text {
    max-width: calc(575 / 1150)*100%;
    margin-top: rem(188);

    @include mq(md) {
        max-width: 100%;
        margin-top: rem(40);
    }
}

.top-about__btn {
    margin-top: rem(80);
    text-align: center;
}


.p-top-about__deco {
    position: absolute;
    max-width: rem(427);
    width: 100%;
    margin-inline: auto;
    top: rem(80);
    left: 50%;
    transform: translateX(-50%);

    @include mq(md) {}
}